.chip {
  background-color: var(--sgc-color-secondary--50);
  border-radius: 22px;
  height: 28px;
  padding: 6px 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: var(--sgc-color-secondary--800);
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}
