.link-icon {
  -webkit-mask: url('/modules/asset/icons/i_link.svg') no-repeat center;
  mask: url('/modules/asset/icons/i_link.svg') no-repeat center;
  width: 24px;
  height: 24px;
  background-color: #337083;
}

.download-icon {
  -webkit-mask: url('/modules/asset/icons/i_download.svg') no-repeat center;
  mask: url('/modules/asset/icons/i_download.svg') no-repeat center;
  width: 24px;
  height: 24px;
  background-color: #337083;
}
