// Use flex to keep the footer at the bottom.
body,
[data-apos-refreshable],
.bp-wrapper {
  display: flex;
  flex-direction: column;
}

[data-apos-refreshable],
.bp-wrapper,
main {
  flex-grow: 1;
}

body {
  min-height: 100vh;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.bp-header,
.bp-footer {
  background-color: var(--sgc-color-secondary--800);
}

.bp-header {
  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bp-header__actions {
  display: flex;
  gap: 6px;
  align-items: center;
}

.bp-footer {
  padding: 48px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
}

.bp-footer__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;

  & .bp-footer__links__divider {
    display: none;
  }
}

.bp-header__logo {
  display: block;
  width: 98px;
  max-width: 100%;
  object-fit: contain;
}

.bp-footer__logo {
  display: block;
  width: 257px;
  max-width: 100%;
  object-fit: contain;
}

.bp-nav {
  display: flex;
  gap: 6px;
}

.bp-header__login {
  &:visited {
    color: white;
  }
}

@media (min-width: 768px) {
  .bp-header {
    padding: 40px 212px;
  }

  .bp-footer {
    padding: 48px;
    flex-direction: row;
    justify-content: space-between;
  }

  .bp-footer__links {
    flex-direction: row;
    align-items: center;
    gap: 6px;

    & .bp-footer__links__divider {
      display: block;
    }
  }
}
