// Use flex to keep the footer at the bottom.
body,
[data-apos-refreshable],
.bp-wrapper {
  display: flex;
  flex-direction: column;
}

[data-apos-refreshable],
.bp-wrapper,
main {
  flex-grow: 1;
}

body {
  min-height: 100vh;
  // Nice system fonts.
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.bp-header,
.bp-footer {
  padding: 40px 212px
}

.bp-header,
.bp-footer {
  background-color: #1C2834;
}

.bp-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bp-header__actions {
    display: flex;
    gap: 6px;
    align-items: center;
}

.bp-footer {
  padding: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bp-footer__links {
  display: flex;
  gap: 6px;
  align-items: center;
  color: white;

}

.bp-header__logo {
  display: block;
  width: 98px;
  max-width: 100%;
  object-fit: contain;
}

.bp-footer__logo {
  display: block;
  width: 257px;
  max-width: 100%;
  object-fit: contain;
}

.bp-nav {
  display: flex;
  gap: 6px;
}

.bp-header__login {
  &:visited {
    color: white;
  }
}



.locales__list[hidden] {
  display: none;
}

.locales__list {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  z-index: 1000;
}

.locales__item a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.locales__item a:hover {
  background: #f0f0f0;
}


