h1 {
  font-family: var(--sgc-typo-h1--family);
  font-weight: var(--sgc-typo-h1--weight);
  font-size: 30px;
  line-height: 100%;
  letter-spacing: -0.05px;
  margin: 0;
}

h2 {
  font-family: var(--sgc-typo-h2--family);
  font-weight: var(--sgc-typo-h2--weight);
  font-size: var(--sgc-typo-h2--size);
  line-height: var(--sgc-typo-h2--line-height);
  letter-spacing: var(--sgc-typo-h2--letter-spacing);
  margin: 0;
}

h3 {
  font-family: var(--sgc-typo-h3--family);
  font-weight: var(--sgc-typo-h3--weight);
  font-size: var(--sgc-typo-h3--size);
  line-height: var(--sgc-typo-h3--line-height);
  letter-spacing: var(--sgc-typo-h3--letter-spacing);
  margin: 0;
}

h4 {
  font-family: var(--sgc-typo-h4--family);
  font-weight: var(--sgc-typo-h4--weight);
  font-size: var(--sgc-typo-h4--size);
  line-height: var(--sgc-typo-h4--line-height);
  letter-spacing: var(--sgc-typo-h4--letter-spacing);
}

p {
  margin: 0;
}

::selection {
  background-color: var(--sgc-color-brand);
}

code {
  white-space: normal;
}

pre {
  display: flex;
  position: relative;
  font-family:
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
  color: white;
  font-size: 14px;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.8;
  tab-size: 4;
  hyphens: none;
  border-radius: 6px;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  overflow: auto;
  background: #2b2b2b;
  max-width: 600px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  h1 {
    font-size: var(--sgc-typo-h1--size);
    line-height: var(--sgc-typo-h1--line-height);
    letter-spacing: var(--sgc-typo-h1--letter-spacing);
  }
}
