.project {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding-bottom: 120px;
}

.hero-container {
  box-sizing: border-box;
  width: 100%;
  height: 358px;
  padding: 48px;

  &.blue {
    background-color: #EDFBFF;
  }

    &.green {
      background-color: #E8F0E4;
    }

    &.red {
      background-color: #FFEDF0;
    }

    &.orange {
      background-color: #FFECE5;
    }
}

.hero-container__content {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
}

.image-single {
  max-width: 100%;
  max-height: 100%;
}

.image-double {
  position: absolute;
  width: 90%;
  height: 90%;


  &.top {
    top: 0;
    left: 0;
  }

  &.bottom {
      bottom: 0;
      right: 0;
  }
}

.description-items {
  display: flex;
  flex-direction: column;
  border-top: 1px solid grey;
}

.description-item {
  border-bottom: 1px solid grey;
  padding: 24px 12px
}

.actions {
  display: flex;
    flex-direction: row;
    align-items: center;
  gap: 6px;
}

.dropdown-menu[hidden] {
  display: none;
}

.dropdown-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  z-index: 1000;
}

.dropdown-menu__item a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.dropdown-menu__item a:hover {
  background: #f0f0f0;
}


@media (min-width: 768px) {
  .project {
    padding-bottom: 180px;
    gap: 42px;
  }
  .hero-container {
    width: 39vw;
    height: 40vw;
  }
}

