.file-widget {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 16px 12px;
  height: 46px;
  border-bottom: 1px solid #DFE4E9;
}

a {
  text-decoration: none;
  color: #337083
}

@media (min-width: 768px) {
    .file-widget {
        justify-content: flex-start;
    }

}

