{% extends data.outerLayout %} {% set title = data.piece.title or
data.page.title %} {% block title %} {{ title }} {% if not title %} {{
apos.log('Looks like you forgot to override the title block in a template that
does not have access to an Apostrophe page or piece.') }} {% endif %} {%
endblock %} {% block beforeMain %}
<div class="bp-wrapper">
  <header class="bp-header">
    <img
      class="bp-header__logo"
      src="/images/logo.png"
      alt="ApostropheCMS logo"
    />
    <nav class="bp-nav">
        {% set currentUrl = data.page._url%}
        {% set locale = data.locale  %}
        <a href="/{{data.locale}}/" class="button primary transparent  {% if data.page._url == '/' ~ locale ~ '/' %} active{% endif %}">Applikationen </a>
        <a href="/{{data.locale}}/wiki" class="button primary transparent  {% if currentUrl == '/' ~ locale ~ '/wiki' %} active{% endif %}">Wiki</a>
    </nav>
      <div class="bp-header__actions">
          <div>
              <button class="button tertiary" data-locales-toggle aria-expanded="false">{{data.locale | upper}}</button>
              <ul class="locales__list" data-locales hidden>
                  {% for localization in data.localizations %}
                  <li class="locales__item">

                      <a href="{{ localization._url or localization.homePageUrl }}">
                          {{ localization.label }}
                      </a>

                  </li>
                  {% endfor %}
              </ul>
          </div>
      {% if not data.user %}
      <a class="bp-button bp-header__login" href="/login">Login</a>
      {% endif %}
      </div>
  </header>
  <main>
    {% endblock %} {% block main %}  {% endblock %} {%
    block afterMain %}
  </main>
  <footer class="bp-footer">

      <div class="bp-footer__links">
          <a href="mailto:swissgeol@swisstop.ch" class="button primary transparent  ">swissgeol@swisstop.ch</a>
          |
          <a href="/{{data.locale}}/impressum"  class="button primary transparent  ">Impressum & Rechtliches</a>
      </div>
      <img
              class="bp-footer__logo"
              src="/images/swiss-federation-logo.png"
              alt="Swiss Federation Logo"
      />
  </footer>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const toggler = document.querySelector('[data-locales-toggle]');
        const list = document.querySelector('[data-locales]');

        if (toggler && list) {
            toggler.addEventListener('click', () => {
                console.log("yoyooy")

                const isExpanded = toggler.getAttribute('aria-expanded') === 'true';
                toggler.setAttribute('aria-expanded', String(!isExpanded));
                list.hidden = isExpanded;
            });

            document.addEventListener('click', (event) => {
                if (!toggler.contains(event.target) && !list.contains(event.target)) {
                    toggler.setAttribute('aria-expanded', 'false');
                    list.hidden = true;
                }
            })
        }
    });
</script>
{% endblock %}
