{# Automatically extends the right outer layout and also handles AJAX siutations
#} {% extends data.outerLayout %} {% set title = data.piece.title or
data.page.title %} {% block title %} {{ title }} {% if not title %} {{
apos.log('Looks like you forgot to override the title block in a template that
does not have access to an Apostrophe page or piece.') }} {% endif %} {%
endblock %} {% block beforeMain %}
<div class="bp-wrapper">
  <header class="bp-header">
    <img
      class="bp-header__logo"
      src="/images/logo.png"
      alt="ApostropheCMS logo"
    />
    <nav class="bp-nav">
        <a href="/" class="button primary transparent  {% if data.page._url == '/' %} active{% endif %}">Applikationen</a>
        <a href="/wiki" class="button primary transparent  {% if data.page._url == '/wiki' %} active{% endif %}">Wiki</a>
    </nav>
      <div>
          <button class="button tertiary">DE</button>
      {% if not data.user %}
      <a class="bp-button bp-header__login" href="/login">Login</a>
      {% endif %}
      </div>
  </header>
  <main class="bp-main">
    {% endblock %} {% block main %} {# Usually, your page templates in the
    @apostrophecms/pages module will override this block. It is safe to assume
    this is where your page-specific content should go. #} {% endblock %} {%
    block afterMain %}
  </main>
  <footer class="bp-footer">

      <div class="bp-footer__links">
          <a class="button primary transparent  ">swissgeol@swisstop.ch</a>
          |
          <a class="button primary transparent  ">Impressum & Rechtliches</a>
      </div>
      <img
              class="bp-footer__logo"
              src="/images/swiss-federation-logo.png"
              alt="Swiss Federation Logo"
      />
  </footer>
</div>
<script src="/js/dropdown.js"></script>
{# Close .bp-wrapper #} {% endblock %}
