
.apps {
  padding: 260px 16px 0 16px;

}

.hero {
  padding: 60px 16px 0 16px;
  background-color: var(--sgc-color-secondary--800);
  position: relative;
  height: 450px;
  overflow-x: clip;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero__text {
  max-width: 720px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.05px;
}

.hero h1 {
  margin: 0;
  color: white;
  text-align: left;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: -0.05px;
}

.layer-base {
  position: absolute;
  left: 0;
  top: 500px;
  width: 281px;
  height: 228px;
  overflow: hidden;
}

.layer-middle {
  position: absolute;
  left: 5vw;
  z-index: 3;
  top: 350px;
  width: 474px;
  height: 359px;
  overflow: hidden;
}

.layer-top {
  position: absolute;
  right: 0;
  top: 300px;
  width: 280px;
  height: 227px;
  overflow: hidden;
}

.overlapping-image {
  width: 100%;
  height: auto;
  display: block;
}



@media (min-width: 768px) {
  .hero {
    padding: 90px 10vw;
    height: 900px;

    .hero__content {
      gap: 36px;
      margin-bottom: 100px;
    }

    h1 {
      line-height: 82px;
    }

    .hero__text {
      font-size: 22px;
      line-height: 29px;
    }
  }

  .apps {
    padding: 350px 10vw 0 10vw;
  }

  .layer-base {
    left: 0;
    top: 600px;
    width: 80vw;
    height: 55vh;
  }

  .layer-middle {
    left: 5vw;
    z-index: 3;
    top: 470px;
    width: 90vw;
    height: 70vh;
  }

  .layer-top {
    right: 0;
    top: 380px;
    width: 60vw;
    height: 60vh;
  }
}

@media (min-width: 1590px) {
  .layer-base {
    left: 0;
    top: 500px;
    width: 80vw;
    height: 65vh;
  }

  .layer-middle {
    left: 5vw;
    z-index: 3;
    top: 350px;
    width: 85vw;
    height: 80vh;
  }

  .layer-top {
    right: 48px;
    top: 90px;
    width: 36vw;
    height: 90vh;
  }
}
