.two-column-widget {
  display: block;
}

.column-item .apos-area {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .two-column-widget {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
  }
}
